* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: lightgray;
}

.container {
  height: 100vh;
}
#ComputerOutput {
  background: black;
  border: 3px solid black;
  width: 250px;
  height: 75px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  /*   margin: 0 auto; */
  padding: 10px;
  text-align: right;
}
#calculator {
  border: 3px solid black;
  width: 250px;
  height: 500px;
  margin: 0 auto;
  display: grid;
  /*     grid-gap: 10px; */
  grid-template-columns: 1fr 1fr 1fr 1fr;

  /*    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
  grid-template-areas:
    "clear clear divide multiply"
    "seven eight nine subtract"
    "four five six add"
    "one  two three equals"
    "zero zero dot equals";
}

button {
  background-color: lightblue;
}

.numbrs {
  background-color: red;
}

.types {
  background-color: yellow;
}

.equals {
  background-color: darkblue;
}

.clears {
  background-color: green;
}

#display {
  color: orange;
  background-color: black;
}

#total {
  color: white;
  /*   background-color: black; */
}

/* box grid */
#clear {
  grid-area: clear;
}
#divide {
  grid-area: divide;
}
#multiply {
  grid-area: multiply;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#subtract {
  grid-area: subtract;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#add {
  grid-area: add;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#equals {
  grid-area: equals;
}
#zero {
  grid-area: zero;
}
